<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <input #imageInput
      type="file"
      accept="image/*"
      (change)="readAndProcessFile(imageInput)" />
    </div>
  </div>
</div>
